﻿.dogphotobox {
    width: 500px;
    height: 500px;
}

.dogphoto {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.catphotobox {
    width: 500px;
    height: 500px;
}

.catphoto {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
