﻿

.answer-buttons {
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    position: center;
    margin: auto;
    padding: 15px;
    border: 5px dotted black;
    width:460px;
    height:auto;
}

.imagebox {
    width: 500px;
    height: 500px;
    position: center;
    margin: auto;
    padding: 20px;
}

.gameimage {
    width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border: 5px solid black;
}

.answer-buttons-pressed {
    padding-top: 20px;
}