﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/thegame.css">

<div class="text-center">
    <h1 class="display-4">Dog or cat?????</h1>
</div>

<div class="answer-buttons">
    <form>
        <button name="button" value="dog" asp-action="CheckButton">Dog</button>
        <button name="button" value="cat" asp-action="CheckButton">Cat</button>
    </form>
    <div>
        <h3 class="answer-buttons-pressed">-@TempData["buttonval"]-</h3>
        <h2>Score: @TempData["score"]</h2>
        <h2>@TempData["victory"]</h2>
    </div>
</div>

<div class="imagebox">
    <img src="@ViewBag.url" class="gameimage" />
    <p>Press the buttons if you think its a dog or a cat.</p>
</div>