﻿
@{
    ViewData["Title"] = "Cat";
}
<link href="~/css/dogcat.css" rel="stylesheet" type="text/css" />
<h1>Cat</h1>

<div class="catphotobox">
    <img src="@ViewBag.url" class="catphoto" />
    <p>Random cat.</p>
</div>