﻿
@{
    ViewData["Title"] = "Dog";
    
}
<link href="~/css/dogcat.css" rel="stylesheet" type="text/css" />
<h1>Dog</h1>

<div class="dogphotobox">
    <img src="@ViewBag.url" class="dogphoto"/>
    <p>Random dog.</p>
</div>
